{% block sidebar %}
    <nav class="bg-gray-800">
        <div class="max-w-7xl mx-auto px-2 lg:px-3 lg:px-4">
            <div class="relative flex items-center justify-between h-16">
                <div class="absolute inset-y-0 left-0 flex items-center lg:hidden">
                    <button id="menuBtn" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                        <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="flex-1 flex items-center justify-center lg:items-stretch lg:justify-start">
                    <div class="flex-shrink-0 flex items-center">
                        <h1 class="inline-flex text-2xl text-blue-100 font-semibold">
                            <svg class="h-8 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z" clip-rule="evenodd" />
                            </svg>
                            HotHotHot !
                        </h1>
                    </div>
                    <div class="hidden lg:block lg:ml-6">
                        <div class="flex space-x-4">
                            <a href="/" class="inline-flex text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-lg font-medium ml-8">
                                <svg class="h-6 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                                </svg>
                                Accueil
                            </a>
                            <a href="/documentation" class="inline-flex text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-lg font-medium">
                                <svg class="h-6 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                                </svg>
                                Documentation
                            </a>
                        </div>
                    </div>
                </div>
                <div class="absolute inset-y-0 right-0 flex items-center pr-2 lg:static lg:inset-auto lg:ml-6 lg:pr-0">
                    <div class="ml-3 relative">
                        <div>
                            <button id="alertBtn" class="bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
                                <span class="sr-only">View notifications</span>
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                                </svg>
                            </button>
                        </div>

                        <div id="alert" class="hidden p-2 origin-top-right absolute right-0 mt-2 w-64 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
                            <div class="flex justify-around">
                                <div class="flex flex-col items-center">
                                    <p class="text-xl">Interieur</p>
                                    <p>Max:<span> {{ maxInterieur }}째</span></p>
                                    <p>Min:<span> {{ minInterieur }}째</span></p>
                                </div>
                                <div class="flex flex-col items-center">
                                    <p class="text-xl">Exterieur</p>
                                    <p>Max:<span> {{ maxExterieur }}째</span></p>
                                    <p>Min:<span> {{ minExterieur }}째</span></p>
                                </div>
                            </div>
                            <div class="mt-2">
                                <p id="AlerteCapteurs" class="bg-red-600 text-white font-semibold rounded p-2 inline-flex w-full hidden">
                                    <svg class="h-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                    </svg>
                                    <a id="AlertMessage">Message d'alerte</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="lg:contents hidden">
                        {% if session.user %}
                            <a href="/account" class="bg-gray-700 text-white px-3 py-2 rounded-md text-lg font-medium mr-1 ml-5">Mon compte</a>
                            <a href="/logout" class="bg-gray-700 text-white px-3 py-2 rounded-md text-lg font-medium ml-1">LogOut</a>
                            <p class="text-white m-3">{{ session.user.name }}</p>
                        {% else %}
                            <a href="/login" class="bg-gray-700 text-white px-3 py-2 rounded-md text-lg font-medium mr-1 ml-5">LogIn</a>
                            <a href="/signup" class="bg-gray-700 text-white px-3 py-2 rounded-md text-lg font-medium ml-1">SignUp</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="lg:hidden hidden" id="mobile-menu">
            <div class="px-2 pt-2 pb-3 space-y-1">
                <a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Accueil</a>
                <a href="/documentation" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Documentation</a>
                {% if session.user %}
                    <a href="/account" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Mon compte</a>
                    <a href="/logout" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Log Out</a>
                {% else %}
                    <a href="/login" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Log In</a>
                    <a href="/signup" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <script>
        let menuButton = document.getElementById('menuBtn');
        let alertButton = document.getElementById('alertBtn');
        let menu = document.getElementById('mobile-menu');
        let alert = document.getElementById('alert');

        let menuState = true;
        menuButton.addEventListener('click', () => {
            if (menuState) {
                menu.classList.add('content');
                menu.classList.remove('hidden');
                menuState = false;
            } else {
                menu.classList.add('hidden');
                menu.classList.remove('content');
                menuState = true;
            }
        });

        let alertState = true;
        alertButton.addEventListener('click', () => {
            if (alertState) {
                alert.classList.add('content');
                alert.classList.remove('hidden');
                alertState = false;
            } else {
                alert.classList.add('hidden');
                alert.classList.remove('content');
                alertState = true;
            }
        });
    </script>
{% endblock %}
